<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.software.mapper.ClazzPeriodMapper">

    <resultMap id="BaseResultMap" type="com.nchu.software.entity.ClazzPeriod">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="clazz" column="clazz" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,clazz,time
    </sql>
</mapper>
